<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Chatroom</title>

  <script src="/javascripts/jquery-2.0.0.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/socket.io/socket.io.js"></script>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8">

  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>

  <script type="text/javascript" charset="utf-8">
    
  </script>

</head>
<body>
  <div id="page">
    <div id="header">
      <h1>TodoList</h1>
    </div>
    
    <div id="content">
      
      
      {{yield}}
    </div>
    
    <div id="footer">
      Powered by Magic.
    </div>
  </div>
</body>
</html>